{% load static %}
{% for group in  request.user.groups.all %}
{% if group.name == 'standard'  %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="{% url 'production:manage_restock' %}" class="brand-link">
        <img src="{% static 'dist/img/logo6.jpeg' %}" alt="AdminLTE Logo" class="brand-image  elevation-6"
          style="opacity: .8">
        <span class="brand-text font-weight-light"> <b>  Smart PRODUCTION</b> </span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
                 

                    
                    {% url 'production:manage_restock' as manage_restock %}
                    {% url 'production:manage_inventroy' as manage_inventroy %}
                    
                    
              
                    <li class="nav-item 
                    {% if request.path == manage_restock %} menu-open {% endif %}
                    {% if request.path == manage_inventroy %} menu-open {% endif %}
                  
                      ">
                    
                      <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-anchor"></i>
                        <p>
                          Production
                          <i class="right fas fa-angle-left"></i>
                        </p>
                      </a>
                      <ul class="nav nav-treeview">
                        
                        <li class="nav-item 
                        {% url 'production:manage_restock' as manage_restock %}
                        {% url 'production:add_stock' a.id  as add_stock %}
                        ">
                          
                        
                        
                          <a href="{{ manage_restock }}" class="nav-link {% if request.path == manage_restock %} active {% endif %} {% if request.path == add_stock %} active {% endif %} "
                          >
                            <i class="fas fa-users nav-icon"></i>
                            <p>Stock Production</p>
                          </a>
                        </li>
                        <li class="nav-item">
                          
                          {% url 'production:manage_inventroy' as manage_inventroy %}
                        
                          <a href="{{ manage_inventroy }}" class="nav-link  
                          {% if request.path == manage_inventroy %} active {% endif %}" 
                          >
                        
                          <i class="fas fa-users nav-icon"></i>
                            <p>Stock Inventory</p>
                          </a>
                        </li>
                      
                      </ul>
                    </li>
                    

                    {% url 'orders:manage_orders' as manage_orders %}
                    {% url 'production:manage_damages' as manage_damages %}
                    {% url 'orders:manage_returns' as manage_returns %}
                    
                    
                  
                    
              
                    <li class="nav-item 
                    {% if request.path == manage_orders %} menu-open {% endif %}
                    {% if request.path == manage_damages %} menu-open {% endif %}
                    {% if request.path == manage_returns %} menu-open {% endif %}
                   
              
                  
                      ">
                    
                      <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-anchor"></i>
                        <p>
                          Sales
                          <i class="right fas fa-angle-left"></i>
                        </p>
                      </a>
                      <ul class="nav nav-treeview">
                        
                        
                        <li class="nav-item">
                          {% url 'orders:manage_orders' as manage_orders %}
                          <a href="{{ manage_orders }}" class="nav-link {% if request.path == manage_orders %} active {% endif %}">
                            <i class="fas fa-users nav-icon "></i>
                            <p>Orders</p>
                          </a>
                        </li>
                        <!-- <li class="nav-item">
                          {% url 'orders:manage_returns' as manage_returns %}
                          <a href="{{ manage_returns }}" class="nav-link {% if request.path == manage_returns %} active {% endif %}">
                            <i class="fas fa-users nav-icon "></i>
                            <p>Return Orders</p>
                          </a>
                        </li> -->
                        <li class="nav-item">
                          {% url 'production:manage_damages' as manage_damages %}
                          <a href="{{ manage_damages }}" class="nav-link {% if request.path == manage_damages %} active {% endif %}">
                            <i class="fas fa-users nav-icon "></i>
                            <p>Damages</p>
                          </a>
                        </li>
                      
                        
                      
                        
                      
                      </ul>
                    </li>

          </ul>
      
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
{% else %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'accounts:dashboard' %}" class="brand-link">
      <img src="{% static 'dist/img/logo6.jpeg' %}" alt="AdminLTE Logo" class="brand-image  elevation-6"
        style="opacity: .8">
      <span class="brand-text font-weight-light"> <b>  Smart PRODUCTION</b> </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
                  {% url 'products:manage_category' as manage_category %}
                  {% url 'products:manage_product' as manage_product %}
                  {% url 'products:edit_category' a.id as edit_category %}
                  {% url 'products:edit_product' a.id as edit_product %}
                 
            
                  <li class="nav-item 
                  {% if request.path == manage_category %} menu-open {% endif %}
                  {% if request.path == manage_category %} menu-open {% endif %}
                  {% if request.path == manage_product %} menu-open {% endif %}
                  {% if request.path == edit_product %} menu-open {% endif %}
                  {% if request.path == edit_category %} menu-open {% endif %}
                  {% if request.path == manage_raw %} menu-open {% endif %}
                
                    ">
                  
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-anchor"></i>
                      <p>
                        Products / Category/ RM
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      
                      <li class="nav-item">
                        {% url 'products:manage_category' as manage_category %}
                        {% url 'products:edit_category' a.id as edit_category %}
                      
                        <a href="{{ manage_category }}" class="nav-link {% if request.path == manage_category %} active {% endif %} 
                        {% if request.path == manage_category %} active {% endif %}
                        {% if request.path == edit_category %} active {% endif %}
                        ">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Category</p>
                        </a>
                      </li>
                      
                      <li class="nav-item">
                        {% url 'products:manage_product' as manage_product %}
                        {% url 'products:edit_product' a.id as edit_product %}
                        
                        <a href="{{ manage_product }}" class="nav-link {% if request.path == manage_product %} active {% endif %} 
                        {% if request.path == delete_product %} active {% endif %} 
                        ">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Product</p>
                        </a>
                      </li>
                      <!-- <li class="nav-item">
                        {% url 'products:manage_raw' as manage_raw %}
                        {% url 'products:edit_rawmaterial' a.id as edit_rawmaterial %}
                        
                        <a href="{{ manage_raw }}" class="nav-link {% if request.path == manage_raw %} active {% endif %} 
                        {% if request.path == edit_rawmaterial %} active {% endif %} 
                        ">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Raw Materials</p>
                        </a>
                      </li>
                       -->
                    
                    </ul>
                  </li>

                  {% url 'products:manage_raw' as manage_raw %}
                  {% url 'products:edit_product' a.id as edit_product %}
                  {% url 'products:manage_restock' as manage_restock %}
                  {% url 'products:inventory' as inventory %}
                  {% url 'products:requisition' as requisition %}
                  
                  
                  
                  <li class="nav-item 
                  {% if request.path == manage_raw %} menu-open {% endif %}
                  {% if request.path == edit_rawmaterial %} menu-open {% endif %}
                  {% if request.path == manage_restock %} menu-open {% endif %}
                  {% if request.path == inventory %} menu-open {% endif %}
                  {% if request.path == requisition %} menu-open {% endif %}
                  
                  
                
                    ">
                  
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-anchor"></i>
                      <p>
                        Raw Materials
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      
                      <li class="nav-item">
                        {% url 'products:manage_raw' as manage_raw %}
                        {% url 'products:edit_rawmaterial' a.id as edit_rawmaterial %}
                        {% url 'products:manage_restock' as manage_restock %}
                        {% url 'products:inventory' as inventory %}
                        {% url 'products:requisition' as requisition %}
                      
                        <a href="{{ manage_raw }}" class="nav-link {% if request.path == manage_raw %} active {% endif %} 
                        {% if request.path == manage_raw  %} active {% endif %}
                        {% if request.path == edit_rawmaterial %} active {% endif %}
                        {% if request.path == manage_restock %} active {% endif %}
                        {% if request.path == inventory %} active {% endif %}
                        {% if request.path == requisition %} active {% endif %}
                        ">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Raw Materials</p>
                        </a>
                      </li>    
                      <li class="nav-item">
                        
                        {% url 'products:manage_restock' as manage_restock %}
                      
                        <a href="{{ manage_restock }}" class="nav-link {% if request.path == manage_restock%} active {% endif %} 
                        
                        ">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Restock</p>
                        </a>
                      </li>  
                      <li class="nav-item">
                        
                        {% url 'products:inventory' as inventory %}
                      
                        <a href="{{ inventory }}" class="nav-link {% if request.path == inventory %} active {% endif %} 
                        
                        ">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Inventory</p>
                        </a>
                      </li>    
                      <li class="nav-item">
                        
                        {% url 'products:requisition' as requisition %}
                      
                        <a href="{{ requisition }}" class="nav-link {% if request.path == requisition %} active {% endif %} 
                        
                        ">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Requisition</p>
                        </a>
                      </li>  
                    </ul>
                  </li>

                  
                  {% url 'production:manage_restock' as manage_restock %}
                  {% url 'production:manage_inventroy' as manage_inventroy %}
                  
                  
            
                  <li class="nav-item 
                  {% if request.path == manage_restock %} menu-open {% endif %}
                  {% if request.path == manage_inventroy %} menu-open {% endif %}
                
                    ">
                  
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-anchor"></i>
                      <p>
                        Production
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      
                      <li class="nav-item 
                      {% url 'production:manage_restock' as manage_restock %}
                      {% url 'production:add_stock' a.id  as add_stock %}
                      ">
                        
                      
                      
                        <a href="{{ manage_restock }}" class="nav-link {% if request.path == manage_restock %} active {% endif %} {% if request.path == add_stock %} active {% endif %} "
                        >
                          <i class="fas fa-users nav-icon"></i>
                          <p>Stock Production</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        
                        {% url 'production:manage_inventroy' as manage_inventroy %}
                      
                        <a href="{{ manage_inventroy }}" class="nav-link  
                        {% if request.path == manage_inventroy %} active {% endif %}" 
                        >
                      
                        <i class="fas fa-users nav-icon"></i>
                          <p>Stock Inventory</p>
                        </a>
                      </li>
                    
                    </ul>
                  </li>
                  

                  {% url 'orders:manage_orders' as manage_orders %}
                  {% url 'production:manage_damages' as manage_damages %}
                  {% url 'orders:manage_returns' as manage_returns %}
                  {% url 'orders:manage_car' as manage_car %}
                  
                
                  
            
                  <li class="nav-item 
                  {% if request.path == manage_orders %} menu-open {% endif %}
                  {% if request.path == manage_damages %} menu-open {% endif %}
                  {% if request.path == manage_returns %} menu-open {% endif %}
                  {% if request.path == manage_car %} menu-open {% endif %}
            
                
                    ">
                  
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-anchor"></i>
                      <p>
                        Sales
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        {% url 'orders:manage_car' as manage_car %}
                        <a href="{{ manage_car }}" class="nav-link {% if request.path == manage_car %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Cars</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        {% url 'orders:manage_orders' as manage_orders %}
                        <a href="{{ manage_orders }}" class="nav-link {% if request.path == manage_orders %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Orders</p>
                        </a>
                      </li>
                      <!-- <li class="nav-item">
                        {% url 'orders:manage_returns' as manage_returns %}
                        <a href="{{ manage_returns }}" class="nav-link {% if request.path == manage_returns %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Return Orders</p>
                        </a>
                      </li> -->
                      <li class="nav-item">
                        {% url 'production:manage_damages' as manage_damages %}
                        <a href="{{ manage_damages }}" class="nav-link {% if request.path == manage_damages %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Damages</p>
                        </a>
                      </li>
                    
                      
                    
                      
                    
                    </ul>
                  </li>

                  {% url 'accounts:manage_accounts' as manage_accounts %}
                  {% url 'accounts:sub_accounts' as sub_accounts %}
                  {% url 'accounts:general_ledger' as general_ledger %}
                  {% url 'accounts:manage_pv' as manage_pv %}
                  {% url 'accounts:manage_payables' as manage_payables %}
                  {% url 'accounts:manage_receivables' as manage_receivables %}
                  {% url 'accounts:manage_transfer' as manage_transfer %}
                
                  
            
                  <li class="nav-item 
                  {% if request.path == manage_accounts %} menu-open {% endif %}
                  {% if request.path == general_ledger %} menu-open {% endif %}
                  {% if request.path == manage_pv %} menu-open {% endif %}
                  {% if request.path == manage_payables %} menu-open {% endif %}
                  {% if request.path == manage_receivables %} menu-open {% endif %}
                  {% if request.path == manage_transfer %} menu-open {% endif %}
            
                
                    ">
                  
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-anchor"></i>
                      <p>
                        Accounts
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      
                      <li class="nav-item">
                        {% url 'accounts:manage_accounts' as manage_accounts %}
                        <a href="{{ manage_accounts }}" class="nav-link {% if request.path == manage_accounts %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Accounts</p>
                        </a>
                      </li>
                      <!-- <li class="nav-item">
                        {% url 'accounts:general_ledger' as general_ledger %}
                        <a href="{{ general_ledger }}" class="nav-link {% if request.path == general_ledger %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>General Ledger</p>
                        </a>
                      </li> -->
                      <li class="nav-item">
                        {% url 'accounts:manage_pv' as manage_pv %}
                        <a href="{{ manage_pv }}" class="nav-link {% if request.path == manage_pv %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Payment Voucher</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        {% url 'accounts:manage_payables' as manage_payables %}
                        <a href="{{ manage_payables }}" class="nav-link {% if request.path == manage_payables %} active {% endif %}">
                          <i class="fas fa-users nav-icon"></i>
                          <p>Expenditure</p>
                        </a>
                      </li>
                      
                      <li class="nav-item">
                        {% url 'accounts:manage_receivables' as manage_receivables %}
                        <a href="{{ manage_receivables }}" class="nav-link {% if request.path == manage_receivables %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Revenue</p>
                        </a>
                      </li>
                      <!-- <li class="nav-item">
                        {% url 'accounts:manage_transfer' as manage_transfer %}
                        <a href="{{ manage_transfer }}" class="nav-link {% if request.path == manage_transfer %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Transfers</p>
                        </a>
                      </li> -->
                      
                    
                    </ul>
                  </li>

                  {% url 'reset_staff_password' as reset_staff_password %}
                  {% url 'manage_profiles' as manage_profiles %}
                  
            
                  <li class="nav-item 
                  {% if request.path == manage_profiles %} menu-open {% endif %}
                  {% if request.path == manage_profiles %} menu-open {% endif %}
            
                
                    ">
                  
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-anchor"></i>
                      <p>
                        Authentication
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      
                      <li class="nav-item">
                        {% url 'manage_profiles' as manage_profiles %}
                      
                        <a href="{{ manage_profiles }}" class="nav-link {% if request.path == manage_profiles %} active {% endif %} 
                        ">
                      
                          <i class="fas fa-users nav-icon "></i>
                          <p>Users</p>
                        </a>
                      </li>
                    
                    </ul>
                  </li>

                  {% url 'accounts:accounting_year' as accounting_year %}
                  
            
                  <li class="nav-item 
                  {% if request.path == accounting_year %} menu-open {% endif %}
                
                    ">
                  
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-anchor"></i>
                      <p>
                        Configuration
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      
                      <li class="nav-item">
                        {% url 'accounts:accounting_year' as accounting_year %}
                        <a href="{{ accounting_year }}" class="nav-link {% if request.path == accounting_year %} active {% endif %}">
                          <i class="fas fa-users nav-icon "></i>
                          <p>Accounts</p>
                        </a>
                      </li>
                    
                    </ul>
                  </li>

                


              

        </ul>
    
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{% endif %}
{% endfor %}

