{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
Products 

{% endblock head %}

{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Products</li>

{% endblock breadcrumb %}
{% block content%}

<div class="col-12">
   
    <div class="card card-primary card-outline  m-4 p-4">
        <div class="card-body">
            {% comment %} <a class="btn btn-outline-dark btn-sm mb-1" href="#"></a> {% endcomment %}
            <div calss = "row">
                <form role="form" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-12 col-sm-12 col-md-3">
                                {{ form.name|as_crispy_field }}
                            </div>
                            <div class="form-group col-12 col-sm-12 col-md-3">
                                {{ form.category|as_crispy_field }}
                            </div>
                            <div class="form-group col-12 col-sm-12 col-md-3">
                                {{ form.unit_price|as_crispy_field }}
                            </div>
                            <div class="form-group col-12 col-sm-12 col-md-3">
                                {{ form.wage_unit|as_crispy_field }}
                            </div>
                            
                        </div>
                        
                        
                        <div class="row">
                            <div class="form-group col">
                                <button type="submit" class="btn btn-outline-dark btn-sm">Save Product</button>
                            </div>
                            
                            
                        </div>
                    </div> 
                    
                        
                </form>
            </div>
            

            {% if products %}
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        
                        <table id="example2" class="table  table-hover" role="grid"
                            aria-describedby="example2_info">
                            <thead class="">
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Id</th>
                                    
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Name</th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Category</th>
                                    
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Unit Price</th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Wages</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in products %}
                                </tr>
                                <tr role="row" class="odd">
                                    <td>{{ a.id }}</td>  
                                    <td>{{ a.name}}</td>                        
                                    <td>{{ a.category}}</td>
                                    <td>{{ a.unit_price}}</td>
                                    <td>{{ a.wage_unit}}</td>
                                
                                    <td>
                                      
                                        <a class="btn btn-sm  btn-outline-warning" href="{% url 'products:edit_product' a.id %}">Update</a>
                                        <a class="btn btn-sm  btn-outline-danger" href="{% url 'products:delete_product' a.id %}">Delete</a>
                                        
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                    
                </div>
            </div>
            {% else %}
            <div class="m-4">
                <div class="jumbotron">
                    <div class="col-md-10 mx-auto">
                      <p class="d-flex justify-content-center"><b>No Products</b></p>
                    </div>
                </div> 
            </div>
            
            {% endif %}
            
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}