{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
Raw Material Restock

{% endblock head %}

{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Restock</li>

{% endblock breadcrumb %}
{% block content%}

<div class="col-12">
   
    <div class="card card-primary card-outline  m-4 p-4">
        <div class="flex-shrink-0 d-flex  mb-1" >
            <a href="{% url 'products:add_restock' %}" class="btn btn-primary m-2 ">Add New Stock</a>
        </div>
        <div class="card-body">
            {% comment %} <a class="btn btn-outline-dark btn-sm mb-1" href="#"></a> {% endcomment %}
          
            {% if restock_list %}
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        
                        <table id="example2" class="table  table-hover" role="grid"
                            aria-describedby="example2_info">
                            <thead class="">
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Id</th>
                                    
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Date</th>

                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">Status</th>
                                    
                                    
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in restock_list %}
                                </tr>
                                <tr role="row" class="odd">
                                    <td>{{ a.id }}</td>  
                                    <td>{{ a.restock_date}}</td>                        
                                    <td>
                                        {% if a.status == 'Pending' %}
                                            <span class="badge bg-info">{{a.status}}</span>
                                        {% elif a.status == 'Approved'  %}
                                            <span class="badge bg-success">{{a.status}}</span>
                                        {% else %}
                                            <span class="badge bg-danger">{{a.status}}</span>
                                                
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                      
                                        <a class="btn btn-sm  btn-outline-warning" href="{% url 'products:add_restock_detail' a.id %}">Update/View</a>
                                        <a class="btn btn-sm  btn-outline-danger" href="{% url 'products:delete_restock' a.id %}">Delete</a>
                                        
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                    
                </div>
            </div>
            {% else %}
            <div class="m-4">
                <div class="jumbotron">
                    <div class="col-md-10 mx-auto">
                      <p class="d-flex justify-content-center"><b>No Restock</b></p>
                    </div>
                </div> 
            </div>
            
            {% endif %}
            
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}