
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-lg">
        <div class="card  card-primary card-outline p-4 m-4">
            
            <form role="form" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-12 col-md-6">
                            {{ form.transaction_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 col-md-6">
                            {{ form.sub_account|as_crispy_field }}
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        
                        <div class="form-group col-12 col-md-12">
                            {{ form.description|as_crispy_field }}
                        </div>
                        
                       
                    </div>
                    <div class="ml-2 p-3 mt-5 d-flex justify-content-end">
                        <button id="next-page-btn" class="btn  btn-outline-primary  px-4 btn-large"><span class="px-2">Create</span><i class="fas fa-arrow-right pr-1"></i></button>
                        
                      
                      </div>

                </div>
            </form>
        </div>
    </div>

</div> 
{% endblock %}




