{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}
<div class="row">
    <div class="col-lg">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="info-box">
                    <span class="info-box-icon bg-default elevation-1"><i class="ion ion-stats-bars"></i></span>
            
                    <div class="info-box-content">
                        <span class="info-box-text mb-2"style="font-size: 18px">Total Payables</span>
                        <span class="info-box-number"style="font-size: 25px">{{total_payables}}</span>
    
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-12 col-md-6">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-default elevation-1"><i class="fas fa-chart-pie"></i></span>
            
                    <div class="info-box-content">
                        <span class="info-box-text mb-2"style="font-size: 18px">Payables Value</span>
                        <span class="info-box-number"style="font-size: 25px">GH&#8373 {{ payable_value.cc}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
           
            
            
            
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>
            
           
        </div>
        <div class="card  card-dark card-outline p-4 m-4">
            <div class="ml-4 mr-4 ">
                <form action="" method="Get" novalidate>
                    <div class="form-row ">
                        <div class="form-group col-12 col-sm-12 col-md-2">
                            {{ myFilter.form.start_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-2">
                            {{ myFilter.form.end_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-4">
                            {{ myFilter.form.reference__id|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 col-sm-12 col-md-4">
                            {{ myFilter.form.sub_code|as_crispy_field }}
                        </div>
                       
                    </div>
                    <div class="mb-2">
                        <button class="btn btn-dark">
                            <span class="">Filter</span>
                            <i class="fas fa-search pl-3"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example3" class="table  table-striped table-hover" role="grid"
                                aria-describedby="example2_info">
                                <thead class="">
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                            aria-label="Browser: activate to sort column ascending">ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                            aria-label="Browser: activate to sort column ascending">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                            aria-label="Browser: activate to sort column ascending">Sub Code</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                            aria-label="Browser: activate to sort column ascending">Description</th>
                                       
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                            aria-label="Browser: activate to sort column ascending">Amount</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                            aria-label="Browser: activate to sort column ascending">Pv No.</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                            aria-label="CSS grade: activate to sort column ascending">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in payables %}
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>{{ a.id }}</td>
                                        <td>{{ a.transaction_date}}</td>
                                        <td>{{a.sub_code.sub_code }} -- {{a.sub_code.sub_description}}</td>
                                        <td>{{a.description }}</td>
                                        <td>GH&#8373 {{a.amount }}</td>
                                        <td>{{a.reference.id }}</td>
                                     
                                        <td>
                                            <a class="btn btn-sm btn-outline-primary"
                                                href="{% url 'accounts:make_payment' a.id %}">Payments</a>
                                        </td>
                                    </tr>
    
                                    {% endfor %}
    
                                </tbody>
    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> 
{% endblock %}