{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="row">
    <div class="col-12">
        <div class="card  card-dark card-outline p-4 m-4">
           
                <h3 class="profile-username text-center text-muted">Smart PRODUCTION</h3>
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Pv No.</b> <a class="float-right text-muted">{{pv.id}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Description</b> <a class="float-right text-muted">{{pv.description}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Sub Code</b> <a class="float-right text-muted">{{pv.sub_account.sub_code }} -- {{pv.sub_account.sub_description}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Amount</b> <a class="float-right text-muted">{{pv.amount}} </a>
                    </li>

                    <li class="list-group-item">
                        <b>Date</b> <a class="float-right text-muted">{{pv.transaction_date}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Church</b> <a class="float-right text-muted">{{pv.church.church_name}}</a>
                    </li>

                </ul>
            
            <div class="card-body">
                <div></div>
                <form id="friend-form" method="post" novalidate>
                    {% csrf_token %}
                    
                        <div class="card-body">
                            <div class="form-group ">
                               
                                
    
                                <div class="row">
                                    <div class="form-group col-12 col-md-6">
                                        <label for="">Description.</label>
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-12 col-md-3">
                                        <label for="">Quantity.</label>
                                        {{ form.quantity|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-12 col-md-3">
                                        <label for="">Unit Price.</label>
                                        {{ form.unit_price|as_crispy_field }}
                                    </div>
                                    
                                </div>
    
                                <div class="form-row">
                                    <div class="col text-center">
                                        <button class="btn  btn-sm btn-outline-dark" value="Create Friend">Add Pv Details</button>
                                    </div>
    
                                </div>
    
                            </div>
                        </div>
                    
                </form>
                <table class="table table-striped table-sm" id="my_friends">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Amount</th>
                            
                            <th>Action</th> 


                        </tr>
                    </thead>
                    <tbody>
                        {% for item in detail %}
                        <tr>
                            <td>{{item.description}}</td>
                            <td>{{item.quantity}}</td>
                            <td>GH&#8373 {{item.unit_price}}</td>
                            <td>GH&#8373 {{item.amount}}</td>
                            <td>
                                            
                                <a  class = "text-danger far fa-trash-alt fa-lg ml-2" href="{% url 'accounts:deletes_pvitems' item.id %}"></a>
                            </td>
                            
                           
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            
                        </tr>

                        <tr>

                            <td><b>Sub Total</b></td>
                            <td></td>
                            <td></td>
                            <td><b>GH&#8373  {{pv.amount}}</b> </td>

                        </tr>
                        
                        

                    </tbody>
                </table>
                <div class="row">

                    
                    
                

                    <div class="col ">
                        <a class="btn btn-sm btn-outline-dark mt-2 ml-2" href="{% url 'accounts:view_pv' pv.id %}">Close
                            </a>

                    </div>

                </div>

            </div>
            
        </div>
    </div>
    

</div> 

{% endblock %}