{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block head %}
  {{payables.description}}
{% endblock head %}

{% block breadcrumb %}
      
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'accounts:manage_receivables' %}">Accounts Receivables</a></li>
    <li class="breadcrumb-item active">{{payables.description}}</li>
{% endblock breadcrumb %}
{% block content%}

<div class="col-12">
    
    <div class="card card-dark card-outline  m-4 ">
        <div class="card-header">
            <h3 class="profile-username text-center text-muted">Smart PRODUCTION</h3>
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Date</b> <a class="float-right text-muted">{{payables.transaction_date}}</a>
                </li>
                <li class="list-group-item">
                    <b>ID.</b> <a class="float-right text-muted">{{payables.id}}</a>
                </li>
                <li class="list-group-item">
                    <b>Description</b> <a class="float-right text-muted">{{payables.description}}</a>
                </li>
                
                <li class="list-group-item">
                    <b>Sub Code</b> <a class="float-right text-muted">{{payables.sub_code.sub_code }} -- {{payables.sub_code.sub_description}}</a>
                </li>

                <li class="list-group-item">
                    <b>Amount</b> <a class="float-right text-muted">{{payables.amount}}</a>
                </li>
                <li class="list-group-item">
                    <b>Company</b> <a class="float-right text-muted">{{payables.company}}</a>
                </li>
            </ul>
           
        </div>
        <div class="card-body">
           
            <div calss = "row">
                <form role="form" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-12 col-sm-12 col-md-3">
                                <label for="">Amount</label>
                                {{ form.amount_paid|as_crispy_field }}
                            </div>
                            <div class="form-group  col-12 col-md-9">
                                <label for="">Sub Code </label>
                                <input type="text" name='code' value="{{accounts.sub_description}}" list="productlist" Placeholder="Search Code.." class="form-control" required >
                                <datalist id="productlist">
                                    {% for code in accounts %}
                                           <option value="{{code.sub_code}}-----{{code.sub_description}}" >
                                    {% endfor %}
                                </datalist>
                            </div>
                            
                        </div>
                        
                        
                        <div class="row">
                            <div class="form-group col">
                                <button type="submit" class="btn btn-outline-dark btn-sm">Post to Ledger</button>
                            </div>
                            
                            
                        </div>
                    </div> 
                    
                        
                </form>
            </div>
            
            {% if general_ledger %}
                    <div class='m-2'>
                        <h5>Supply Reference In General Ledger </h5>
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                
                                <table  class="table table-striped  table-sm" role="grid"
                                    aria-describedby="example2_info">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>REF. No</th>
                                            <th>Date</th>
                                            <th>Sub Code</th>
                                            <th>Description</th>
                                            <th>DR   (GH&#8373)</th>
                                            <th>CR   (GH&#8373)</th>
                                        
                                            <th>Created By</th>

                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in general_ledger %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.transactionref}}</td>
                                            <td>{{item.transaction_date}}</td>
                                            <td>{{item.sub_code.sub_code }} -- {{item.sub_code.sub_description}} </td>
                                            <td>{{item.description}}</td>
                                            
                                            <td>
                                                {% if item.debit > 0 %}
                                                GH&#8373 {{item.debit}} 
                                                {% else %}

                                                {% endif %}
                                            
                                            </td>
                                            <td>
                                                {% if item.cedit > 0 %}
                                                GH&#8373 {{item.cedit}} 
                                                {% else %}
                                                    
                                                {% endif %}
                                                
                                            </td>
                                            
                                            <td>{{item.created_by}} -- {{item.created_by.first_name}}</td>
                                        

                                        </tr>
                                        {% endfor %}
                                       
                                    </tbody>
        
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    {% else %}
                    <div class="jumbotron">
                        <div class="col-md-10 mx-auto">
                        <p class="d-flex justify-content-center"><b>No Ledger Transaction</b></p>
                        </div>
                    </div>  
                    {% endif %}
                    <div class="form-row">
                        <div class="col text-center">
                            <a class="btn btn-outline-danger mt-2 ml-2" href="{% url 'accounts:manage_receivables' %}">Close </a>
                        </div>
                    </div>

            
            
        </div>
    </div><!-- /.card -->
</div>
{% endblock %}